<div class="inner cover">
  <h1 class="cover-heading">Best of all recipe sites!</h1>
  <p class="lead"><%= Faker::Lorem.paragraph %></p>
  <p class="lead">
    <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>

<div class="mastfoot">
  <div class="inner">
    <p>Copyright <%= Date.today.year %></p>
  </div>
</div>

